* {
  margin: 0;
  padding: 0;
  border: 0;
}

header, footer {
  background-color: #082B59;
}

header {
  border-bottom: 10px solid #D98555;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 5em;
  margin-bottom: 30px;
}

p {
  line-height: 3em;
  margin-bottom: 20px;
}

img.logo{
  width: 150px;
  display: block;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  padding-left: 5px;
  font-size: 2.2em;
}

i {
  color: #fff;
  font-size: 1.2em;
}

ul li {
  padding: 25px;
  color: #fff;
}

main {
  background-image: url("images/gulp-bottom-beans.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

div.max-width {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 150px 0;
}

section.about {
  padding-right: 35px;
}

a.button {
  background-color: #59331D;
  color: #fff;
  text-decoration: none;
  padding: 30px 30px;
  border-radius: 10px;
}

a.button:hover {
  background-color: #D98555;
  color: #fff;
}

a:hover {
  color: #D98555;
}

i:hover {
  color: #D98555;
}

section {
  margin-bottom: 40px;
}

footer {
  color: #fff;
  text-align: center;
  border-top: 10px solid #D98555;
}

footer p {
  padding-top: 25px;
}

.figure {
  width: 300px;
}

div.coffee {
  width: 300px;
  background-color: #59331D;
  border-radius: 10px;
}

div.coffee img {
  border-radius: 10px 10px 0 0;
}

div.coffee-text {
  color: #fff;
  padding: 25px;
}
